body {
  margin: 0 auto;
  padding: 0;
  background-image: url('/img/bg.png');
  background-position: top center;
  background-repeat: no-repeat;
  width: 1366px;
  font-family: 'Roboto Condensed', sans-serif;
}

a {
  text-decoration: none;
  color: #fff;
}

header {
  display: flex;
  padding: 28px 97px;
}

.site-navigation {
  display: flex;
  justify-content: space-between;
  
  list-style: none;
  width: 465px;
  padding-left: 67px;
  font-size: 19px;
  font-weight: light;
}

.header-phone {
  display: flex;
  align-items: center;
  padding-left: 445px;
  color: black;
  font-size: 16px;
  font-family: 'Shippori Antique', sans-serif;
  font-weight: bold;
}
.promo-block {
  display: flex;
  flex-direction: column;
  padding: 95px  100px 0;
  color: #fff;
}

.h1-promo-block {
  font-family: 'Roboto', sans-serif;
  font-size: 60px;
  font-weight: 300;
  font-stretch: condensed;
  letter-spacing: 9px;
  width: 250px;
  margin: 0;
}

.h2-promo-block {
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0.3px;
  margin: 0;
  padding-top: 20px;
}

.oval-button {
    display: flex;
    margin-top: 50px;
    width: 247px;
    height: 53px;
    -webkit-border-radius: 50px / 50px;
    -moz-border-radius: 50px / 50px;
    border-radius: 50px / 50px;
    border: 2px solid #ffffff;
    box-sizing: border-box;
}

.button-promo-block {
  display: flex;
  white-space: nowrap;
  align-items: center;
  padding: 17px;
  font-size: 13px;
  padding-left: 45px;
  letter-spacing: 1.3px;
}

.arrow {
  width: 70px;
  padding-left: 10px;
  padding-top: 3px;
}

.promo-athletic-body {
  margin-top: -462px;
  margin-left: 272px;
  height: 776px;
  width: 994px;
}

.about-pilates {
  display: flex;
  flex-direction: column;
  width: 390px;
  height: 315px;
  padding: 70px 100px 0;
}

.h2-about-pilates {
  width: 305px;
  margin-top: 3px;
  color: #000000;
  font-size: 50px;
  font-weight: lighter;
  font-stretch: normal;
  letter-spacing: -1.1px;
  padding-left: 51px;
}

.line{
  margin-top: -71px;
  width: 37px;
  height: 0px;
  border: 1px solid #000000;
  margin-bottom: 70px;
}

.p-about-pilates{
  margin: 0;
  padding-top: 7px;
  padding-bottom: 20px;
  font-size: 16px;
  letter-spacing: 0.6px;
  line-height: 24px;
  font-weight: lighter;
}

.button-about-pilates{
  color: #214226;
  padding-top: 10px;
  font-weight: bolder;
  letter-spacing: 1px;
  font-size: 15px;
}

.right-arrow {
  display: flex;
  width: 20px;
  height: 20px;
  border-top: 2px solid #000000;
  border-right: 2px solid #000000;
  /* transform: rotate(45deg); */
}

.dots {
  width: 134px;
  height: 132px;
  padding-left: 425px;
  margin-top: -105px;
  px;

}

.pilates-studio-photo {
  width: 855px;
  height: 630px;
  padding-left: 308px;
  margin-top: -330px;
}

.tarifs{
  padding-top: 520px;
  width: 1168px;
  height: 640px;
}

.line2{
  width: 37px;
  height: 0px;
  border: 1px solid #000000;
}

.h2-tarifs {

}